*{
    margin: 0px;
    padding: 0px;
}
.home{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.home .nav{
    width: 100%;
    height: 10%;
    background-color: white;
    position: fixed;
}
.home .logo{
    color: #6c757d;
    font-size: 45px;
    float: right;
    text-align: center;
    width: 30%;
    margin: 20px 5px;
    font-family: sans-serif;
    
}
.home .nav .logo .l1{
    color: #fd7e14;
}
.home .nav .logo .l2{
    color:#007aff;
}
.home .nav ul{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    text-align: center;



}

.home .nav ul li a{
    text-decoration: none;
    color: #6c757d;
    font-size: 20px;
    font-family:fantasy;


}
.home .nav ul li a:hover{
    color:#007aff ;
}
.home .nav ul li{
    margin-top: 5px;
    text-align: center;


}
.home .nav ul li button{
    color: #6c757d;
    width: 120px;
    height: 35px;
    background-color: white;
    border: 1px darkgray solid;
    font-size: 15px;
    border-radius: 5px;
}
.home .nav ul li button:hover{
    background-color:#0d6efd;
    color: white;
    
}
.home .cap .row{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.home .cap .row .hcap1{
    width: 45%;
    text-align: right;
    margin:160px 10px;
    padding: 20px 10px;   
    
}
.home .cap .row .hcap2{
    width: 48%;
}
.home .cap .row .hcap2 img{
    width: 100%;
    margin: 25px 0px;
}
.home .cap .h1cap{
    font-size: 48px;
    color: #3e4450;
    font-weight: 700;
    margin: 10px;
    padding: 10px;  
    font-family: sans-serif;
}
.home .cap .pcap{
    color: #858ea1;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}
.home .cap .hcap1 img{
    width: 100%;
    height: 300px;
}
.cap .row .hcap1 .btn{
    width:80px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 13px;
    padding: 10px;
    color: white;
    background-color: #01b8dc;
    box-shadow: 0 8px 28px rgb(22 223 126 / 45%);
    border: none;
    border-radius: 4px;
}
.cap .row .hcap1 .btn:hover{
    background-color:#0d6efd;

}
.home .row2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    
}
.home .row2 .hrow2:hover{
    color: #01b8dc;
}
.home .row2 .p{
    width: 40%;
    color: #495057;
    background-color: #f8f9fa;
    padding: 15px;
    margin: 5px;
    text-align: right;
    

}
.home .row2 .p .hrow2{
    margin: 15px 0px;
}
.home .row2 .p .im1{
    width: 50px;
    height: 50px;
}
.home .row2 .p .im2{
    width: 150px;
    height: 50px;
    margin-right: -60px;
}
.home .row3{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 40px 0px;
    padding: 20px 5px;
}
.home .row3 .hrow3{
    width: 48%;
    padding-left: 25px;
}
.home .row3 .hrow3 .h1row3{
    font-size: 32px;
    font-weight: 700;
    text-align: right;
    margin-right: 40px;
    color: #5f687b;
    padding: 15px;
    
}
.home .row3 .prow3{
    line-height: 25px;
    text-align: right;
    margin-right: 50px;
    

}
.home .row3 .imrow3{
    margin:10px 0px;
   width:98%;
   height: 400px;
   
  
}
.home .row4{
    background-color:#f8f9fa;
    padding: 40px 10px;
    margin: 10px 0px;
    
}

.home .row4 .mrow h2{
    color:#6c6c6c;
    font-size: 40px;
    margin: 45px auto;
    padding-top: 10px;
}
.home .row4 .mrow{
    width: 85%;
    text-align: center;
    margin:30px auto;
    padding: 20px 10px;
}
.home .row4 .mrow p{
    
}
.home .row4 .parentrow{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row-reverse;
}
.home .row4 .parentrow .hrow4{
    background-color: #fff;
    width:18% ;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    color: #6c6c6c;
}
.home .row4 .parentrow .hrow4 img{
    width: 50px;
    height: 50px;
    padding: 10px;
}
.home .row4 .parentrow .hrow4 h2:hover{
    color: #48b3d2;
}
.home .row5 .parent2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    
}
.home .row5 .parent2 .prt1{
    background-color: #f8f9fa;
    width: 30%;
    text-align: right;
    margin: 10px 0px 10px 0px;
    padding: 20px;
    border-top:3px solid #01b8dc ;
    border-bottom:3px solid #01b8dc  ;
}
.home .row5 .parent2 .prt1 .prt11{
margin: 5px;
padding: 5px;
color: #5f687b;

}
.home .row5 .parent2 .prt1 .prt11 h4{
    font-size: 20PX;
    margin: 5PX;
    padding: 5PX;
}
.home .row5 .parent2 .prt1 .prt11{
    margin-bottom: 15px;
}
.home .row5 .parent2 .prt1 .prt11 img{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -30PX;
}
.home .row5 .hrow5{
    text-align: center;
    color: #6c6c6c;
    margin-top: 20px;
}
.home .row5 .hrow5 h2{
    margin: 30px auto 0px auto;
    padding: 70px 0px 15px 0px;
    font-size: 35px;
}
.home .row5 .hrow5 p{
    margin: 5px;
    padding: 5px;
}
.home .row5 .parent2 .parent4{
    background-color: #f8f9fa;
    width: 45%;
    text-align: right;
    margin: 10px;
    padding: 20px;
    border-top:3px solid #01b8dc ;
    border-bottom:3px solid #01b8dc
}
.home .row5 .parent2 .parent4 .prt2{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row-reverse;
}
.home .row5 .parent2 .parent4 .prt2 div{
    width: 95%;
}
.home .row5 .parent2 .parent4 .prt2 .prt21{
    margin: 10px;
    padding: 10px;


}
.home .row5 .parent2 .parent4 .prt2 .prt21 input {
    border: 1PX solid #d1d3d6;
    border-radius: 4px;
    width: 98%;
    height: 40px;
}
.home .row5 .parent2 .parent4 .prt2 .prt22{
    margin: 10px;
    padding: 10px;
}
.home .row5 .parent2 .parent4 .prt2 .prt22 input{
    width: 98%;
    height: 40px;
    border: 1PX solid #d1d3d6;
    border-radius: 4px;

}
.home .row5 .parent2 .parent4 .prt2 .prt23{
    margin: 10px;
    padding: 10px;
    

}
.home .row5 .parent2 .parent4 .prt2 .prt23 textarea{
    width: 98%;
    border-radius: 4px;
}
.home .row5 .parent2 .parent4 .prt2 .prt24{
    text-align: center;
    margin: auto;
    width: 30%;
}
.home .row5 .parent2 .parent4 .prt2 .prt24 button{
    width: 100px;
    height: 50px;
    background-color: #01b8dc;
    border: none;
    border-radius: 4px;
    color: white;
    
}
.home .row6{
    width: 100%;
    padding: 40px 0px;
    background-color:#f8f9fa;
    text-align: center;
}
.home .row6 .im{
    width: 50%;
    margin: 15px auto;
    padding: 15px 0px;
}
.home .row6 h1{
    width: 30%;
    margin: 15px auto;
    padding: 15px 0px;
    color:#5f687b;
}
.home .row6 div img{
    width: 8%;

}
.home .row6 div .twitter{
    width: 50px;
}
.home .row6 div .in{
    width: 65px;
    margin-bottom: -7px;
    margin-left: -7px;
}
.home .row6 .footer .line{
    border:1px solid #8e9094;
    width :80%;
    margin: auto;
    
}
.home .row6 .end{
   display: flex;
   justify-content: space-between;
   margin: 40px 110px;
}
.fa-solid{
    color: #01b8dc;
    font-size: 25px;
}
.fa-square-facebook{
    color: rgb(2, 2, 193);
    font-size: 30px;
    margin: 3px;
}
.fa-square-twitter{
    color: #007aff;
    font-size: 30px;
    margin: 3px;
}
.fa-linkedin{
    color: rgb(108,117,125);
    font-size: 30px;
}
@media(max-width:750px){
    .show-ul{
        display: block !important;
        background-color: #3e4450c0;
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
        height: auto;
        
     }
        .show-li{
            margin: 10px auto;
            padding: 10px auto;
            display: block !important;
        }
    .home .nav .toggler{
        margin: 10px;
        padding: 5px;
        opacity: 1 !important;
    }
    .home .logo{
        font-size: 20px;
        margin-top: 15px;
    }
    .home .nav ul{
        display: none;
        width: 50%;
    }
    .home .nav ul li a{
        font-size: 20px;
        color: white;
        font-weight: 800;
        
    }
    .home .nav ul li button{
        width: 60px;
        margin: 10px auto;
        padding: 10px 0px;
        font-size: 10px;
 
   }
   .home .cap .row .hcap1{
    margin: 5px auto;
     width: 80%;
     text-align: right;
   }
   .home .cap .hcap .h1cap{
    width: 251px;
   }.home .cap .hcap .pcap{
    
    width: 250px;
   }
   .home .cap .h1cap{
    padding: 0;
    margin: 0;
   }
   .home .cap .row .hcap2{
    width: 99%;
   }
   .home .cap .pcap{
    margin: 0;
    padding: 10PX 0px;
   }
   .home .row2 {

    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
   }
   .home .row2 .p{
    width: 95%;
    padding: 10px;
   }
   .home .row3{
    margin: 0;
    padding:10px 0;
    flex-wrap: wrap;
   }
   .home .row3 div {
    width: 90% !important;
    
   }
   .home .row3 .hrow3 .h1row3{
    margin-right: 0;
   }
   .home .row3 .prow3{
    margin-right: 0;
   }
   .home .row3 div .imrow3{
    width: 98%;
    margin: 5px auto;
   }
  
   .home .row3 .hrow3{
    margin: 0px;
    padding: 0px;
   }
   .home .row4{
    width: 100%;
    padding: 15px 0px;
   }
   .home .row5 .parent2 .prt1{
    width: 80%;
    margin: 5px;
   }
   .home .row5 .parent2 .parent4{
     width: 80%;
     margin: 5px;
   }
   .home .row5 .parent2 .parent4 .prt2 .prt24  button{
    margin-right: 105px;

   }
   .home .row6 .end{
    margin: 20px 5px;
    font-size: smaller;
   }
   .home .cap .hcap2 img{
    width: 100%;
   }
   .home .cap .row{
    display: flex;
    flex-direction: column-reverse;
   }
}
